---
title: "It's About Time: Time Functions for Comparing Partial and Floating Time Literals in SPARQL"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ieben Smessaert', 'https://smessaert.be', 'https://solid.smessie.com/profile/card#me' %>
- <%= person 'Julián Rojas Meléndez', 'https://julianrojas.org/', 'https://julianrojas.org/#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>

{:#affiliations}
- {:#idlab}   <sup>1</sup>IDLab,
              Department of Electronics and Information Systems, Ghent University - imec, Ghent, Belgium.

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section 'abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'functions' %>
  <%= section 'demo' %>
  <%= section 'conclusion' %>
</main>

<footer>
  <%= section 'endnotes'  %>
</footer>


</div>
